---
// Giscus Comments Component
// Make sure to configure your repository settings in GitHub before using this component
// Visit https://giscus.app/ to generate your configuration
---

<div class="giscus-container">
	<script
		src="https://giscus.app/client.js"
		data-repo="daniela-veloz/daniela-veloz.github.io"
		data-repo-id="R_kgDOQnzrZw"
		data-category="General"
		data-category-id="DIC_kwDOQnzrZ84C0XlC"
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="bottom"
		data-theme="preferred_color_scheme"
		data-lang="en"
		crossorigin="anonymous"
		async
	></script>
</div>

<style>
	.giscus-container {
		width: 100%;
		max-width: 720px;
		margin: 3em auto 2em;
		padding: 0 1em;
	}
</style>